<%- include('header'); %>
<body>
    <div class="container">
        <h1 class="mt-6 my-4"> Welcome to my Microservices Page! </h1>
        <p> This page is an accumulation of different microservices that I build up. Please click on the links to be redirected to any of the microservices. Currently, I have: </p>
        <div class="jumbotron" style="padding: 32px 32px 32px 32px;">
            <h1 class="display-4">URL Shortener</h1>
            <p class="lead">Provide any url and get back a shorter url. It uses the shortid package to generate shorter unique links </p>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/urlshortener" role="button">Go to URL Shortener</a>
            </p>
        </div>
        <div class="jumbotron" style="padding: 32px 32px 32px 32px;">
        <h1 class="display-4">Amazon Price Checker</h1>
        <p class="lead"> Share a link of your favorite Amazon Product, the price you are looking for andd get real time updates either on the site or your email of the price of the product </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/webscrapper" role="button">Go to Amazon Price Checker </a>
        </p>
        </div>
    </div>
</body>